* {
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
  }

@font-face {
    font-family:prettywise-regular;
    src:url(prettywise.font/prettywise-regular.otf)
}

@font-face {
    font-family: prettywise-extrabold;
    src:url(prettywise.font/prettywise-extrabold.otf)
}

@font-face {
    font-family: aloevera-regular;
    src: url(prettywise.font/aloevera-regular.otf);
}

body {
    font-family:prettywise-regular;
    color: #263e0f;  
    background: #99b080;
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #99b080;
    padding: 20px 20px 10px 20px;
    border-bottom: solid 3px#000000;  
}

main {
    margin-top: 10px;
}

h1, h2{
    color: #d6096b;
    text-align: center;
    font-family: prettywise-extrabold;
}

h1 {
    font-size: 45px;
}

h2 {
    color: #263e0f;
    font-size: 30px;
}

h3 {
    font-family: prettywise-extrabold;
}

.footer, .footereind {
    background-color: #263e0f;
    color:#99b080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
}

.footer ul li, a {
    text-decoration: none;
    list-style-type: none;
    color: #99b080;
}

.footereind {
    font-family: prettywise-extrabold;
    font-size: 12px;
}

.introtekst, .tekstenfoto, .omakase, .tekstenfoto2, .omakasegreen, 
.omakasewatermelon, .omakasejackfruit, .omakaseggplant {
    font-size: 15px;
    text-align: center;
    padding:0.5em 3em 3em 3em;
}

.introtekst {
    font-family: prettywise-extrabold;
}

.menukaartenhome {
    font-family: prettywise-extrabold;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.menukaartenhome img {
    width: 140px;
    height: 200px;
    margin: 30px 20px 0px 20px;
}

.drinkmenu {
    justify-content: center;
    display:block;
    margin: 10px 40px 60px 40px;
}
.drinkmenu img {
    width:  300px;
    height: 390px;
}

.tekstenfoto, .tekstenfoto2 {
    font-family: prettywise-regular;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tekstenfoto img {
    height: 160px;
    width: 110px;
}

.tekstenfoto2 img {
    height:210px;
    width:150px;
}

.omakase ul, .omakasegreen ul, .omakasewatermelon ul, 
.omakasejackfruit ul, .omakaseggplant ul {
    list-style-type: none;
}

.omakase ul :first-child, .omakasegreen ul :first-child, 
.omakasewatermelon ul :first-child, .omakasejackfruit ul :first-child, 
.omakaseggplant ul :first-child {
    font-family: prettywise-extrabold;
}

.omakaseggplant img, .omakasegreen img, .omakasewatermelon img, 
.omakasejackfruit img {
    margin: 14px;
}

.omakase img {
    width: 90px;
    height: 80px;
}

.omakasegreen img {
    width: 60px;
    height: 85px;
}

.omakasewatermelon img {
    width: 70px;
    height: 45px;
}

.omakasejackfruit img {
    width: 50px;
    height: 50px;
}

.omakaseggplant img {
    width: 60px;
    height: 40px;
}

.omakaseggplant {
    margin-bottom: 40px;
}

.locatie, .mail, .telefoon {
    font-family: prettywise-extrabold, arial;
    align-items: center;
    padding:2em 1em 1em 2em;
    display: flex;
}

.mail {
    font-family: aloevera-regular;
    font-size:19px;
}

.mail img {
    margin-right: 5px;
    margin-bottom: 15px;
}

.googlemaps {
    align-items: center;
    justify-content: center;
    padding: 1em 2em 6em 2em;
}

iframe {
    width: 100%;
    height: 450px;
}

.logo a, .naam a {
    display: block;
}

.logo a img {
    display:flex;
    width: 65px;
    height: 50px;
}

.naam {
    font-family: prettywise-extrabold;
    color: #000000;
    padding-right: 2em;
}

.sushirol img {
    padding-left: 8em;
    width: 250px;
    height: 45px;
}

.menu {
    display: flex;
    font-family: prettywise-extrabold;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -250px;
    background: #99b080;
    width: 60%;
    height: 100%;
    padding-top: 3em;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
    width: 100%;
}

.menu li a {
    color: #263e0f;
    text-decoration: none;
    display: block;
    justify-content: center;
    transition: 0.3s;
    padding: 30px;
    margin-bottom: 1px;
    font-size: 30px;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #000000;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30px;
    right: 0;
    background: #000000;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

nav input:checked ~ .hamburger {
    background: transparent;
}

nav input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

nav input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

nav input:checked ~ .menu {
    right: 0;
    box-shadow: -30px 0 40px rgba(0, 0, 0, 0.3);
}

